.jumbotron {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
}

#navbarNav {
    background: rgb(188, 192, 192);
    text-align: right;
}
#navhead {
    background: turquoise;
    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 134px;
    padding: 0 0 0 0;
}
body {
    background-image: url("https://images.pexels.com/photos/8892/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}


#contact {
    margin: 50 200 200 200;
}

body{
	width:100%;
	height:100%;
	font-family: 'Roboto Condensed', sans-serif;
	
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(131, 131, 131);
    color: white;
    text-align: center;
    border-top: 10px solid #7fdbd7;
}

h1,h2,h3 {
	margin:0 0 35px 0;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

p{
	margin:0 0 25px;
	font-size:18px;
	line-height:1.6em;
}
a{
	color:#26a5d3;
}
a:hover,a:focus{
	text-decoration:none;
	color:#26a5d3;
}

#contact{
	background:#333333;
	color: turquoise;
    padding-bottom:80px;
}

textarea.form-control{
    height:100px;
}

.form-horizontal {
   float: center;
}